* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://cdn.vox-cdn.com/uploads/chorus_image/image/62793786/1090293064.jpg.0.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    /* background-color: ; */
    /* opacity: 0.1; */
    text-align: center;
  }
  
  .top-wrapper h1 {
    /* opacity: 100; */
    margin-top:20px;
    color:white;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 30px;
    -webkit-text-stroke: 1px white
  }

  .top-wrapper h3{
          /* opacity: 100; */
    color:white;
    font-size: 20px;
    margin-inline: 30px;
    margin-bottom: 50px;
    -webkit-text-stroke: 0.5px white
  }
  
  .top-wrapper p {
    /* opacity: 0.7; */
    color:white;
    margin-bottom: 3px;
    -webkit-text-stroke: 0.5px white
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 90px;
    margin-top: 12px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  
  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
    text-align: left;
  }
  
  .headings h2 {
    font-weight: normal;
    text-align: center;
  }

  .lesson {
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;

  }
  
  .lesson-icon p {
    position: absolute;
    top: -30%;
    width: 100%;
    color: grey;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: rgba(53, 76, 80, 0.9);
    cursor: pointer;
    box-shadow: 0 7px rgba(34, 49, 52, 0.9);
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
  }
  
  footer p {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #b3aeb5;
    font-size: 12px;
  }
  
  /* footer {
    padding-top: 5px;
    padding-bottom: 5px;
  } */
  footer {
    padding-top: 7px;
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    /* position: fixed; */
    bottom: 0;
    /* z-index: 10; */
  }